@font-face {
    font-family: 'font';
    src: url('../font/geosanslight-webfont.woff2') format('woff2'),
         url('../font/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontita';
    src: url('../font/geosanslight-oblique-webfont.woff') format('woff'),
         url('../font/geosanslight-oblique-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    font-family: font;
    background: #353b48;
    overflow: auto;
}
#checkbox1, .toggle{
    display: none;
}
.menu{
    padding: 0;
    margin: 0;
    max-width: 700px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
}
.menu li a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    transition:background .2s linear;
    display: inline-block;
}
.menu li a:hover{
    background: rgba(142, 68, 173, 0.4);
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: radial-gradient(circle at center top, #8e44ad, #353b48);
  }
  
  .Site-content {
    flex: 1;
  }


.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:200px;
    height:200px;
    border:2px solid #353b48;
    
}
#footer{
    color: #7f8c8d;
    text-align: center;
    font-family: font;
    font-size: 1vw;
}
#avatar{
    background:url(../media/avatar.jpg)
    no-repeat 0px 0px; background-size: cover;
    margin: 2% 30%;
}
.flexcontainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
 }
#avatarpos{
    display: flex;
    justify-content: center;
}
.aside{
    overflow:hidden;
    width:30vw;
    height:30vh;
    background: #353b48;
    padding: 3%;
    font-family: font;
}
.article{
    overflow:hidden;
    width:30vw;
    height:30vh;
    background: #353b48;
    padding: 3%;
    font-family: font;
    
}
h1{
font-size: 1vh 1vw;
text-align: center;
}
p{
font-size:1.5vw;
text-align: center;
}
